@font-face {
    font-family: "Berlin Sans FB";
    src: url(font/BerlinSansFBRegular/BerlinSansFBRegular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #000000
}

main {
    padding: 15px;
}

p {
    padding-top: 2px;
    padding-bottom: 2px;;
}

header {
    color: #ffffff;
    text-align: center;
    padding: 10px 0 5px 0;
}

h1, h2 {
    font-family: "Berlin Sans FB", Tahoma, Geneva, sans-serif;
    padding: 3px;
}

nav {
    background: #2699FB;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    flex: auto;
    text-align: center;
    padding: 0.5rem;
}

nav ul li:hover {
    background-color: #AAAAAA;
    text-decoration: none;
}

nav ul li a {
    color: #ffffff;
    text-align: center;
    padding: 0.25rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2699FB
}

a:hover {
    text-decoration: underline;
}

.item {
    padding: 20px;
    margin: 6px;
    box-shadow: 2px 2px 6px #444444;
    border-radius: 5px;
    overflow: auto;
}

img {
    width:24%;
    height:15%;
    float: right;
    margin: 10px;
}

#sportsTable {
    list-style-type: square;
    margin: 20px;
}

#sportsTable p {
    padding: 5px;
}

section.polaroid {
    width: 65%;
    background-color: #f5f5f5;
    color: #707070;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #444444, 0 6px 20px 0 #444444;
    margin-bottom: 25px;
}

section.polaroid img {
    width: 100%;
    margin: 0;
    padding: 5px;
}
  
section.polInfo {
    text-align: center;
    padding: 10px 20px;
}

fieldset {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form fieldset label {
    padding: 5px;
    float: left;
}

form fieldset input {
    margin-bottom: 10px;
}


#submitbtn {
    margin-top: 25px;
    height: 2em;
    width: 30%;
    justify-content: center;
}

aside ol li {
    padding: 10px;
}

#finalFooter {
    background: #AAAAAA;
    padding: 25px;
}

/*The website is layed out for mobile first, and by using "min-width", the layout for tablet and desktop are applied according to minimum screen size*/
@media screen and (min-width: 480px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        text-align: center;
    }

    main {
        display: flex;
    }

    .mainContent {
        flex: 1;
    }

    aside {
        flex: 0 1 300px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        margin: auto;
        max-width: 1200px;
    }

    nav ul {
        flex-direction: row;
    }
}